if BOARD_MSI_B75A_IE35

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT # FIXME: check this
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_C216
	select USE_NATIVE_RAMINIT

config CBFS_SIZE
	default 0x200000

config MAINBOARD_DIR
	string
	default "msi/b75a-ie35"

config MAINBOARD_PART_NUMBER
	string
	default "B75A-IE35"

config VGA_BIOS_ID
	string
	default "8086,0152"

config DRAM_RESET_GATE_GPIO # FIXME: check this
	int
	default 60

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2
endif
